{{! {"styles" : ["js/views/bulls/bulls"]} }}

<div >

</div>

<form class="form-inline" role="form">
    <div class="form-group">
        <label class="sr-only" for="bulls-number">Four digit number</label>
        <input type="email" class="form-control" id="bulls-number" placeholder="####" maxlength="4">
    </div>

    <button type="submit" class="btn btn-default bulls-guess">Guess</button>
</form>