{{! {"styles" : ["js/views/games/games"]} }}

<div class="jumbotron margined">
    <h1>Lions and Leopards</h1>
    <p>Enjoy the traditional nerdy game of Bulls and Cows... sorry, I meant Lions and Leopards.</p>
    <div class="btn btn-primary startButton">Start</div>
</div>
