{{! {"styles" : ["js/views/games/games"]} }}

<div class="jumbotron margined">
    <h1>Bulls and Cows</h1>
    <p>Enjoy the traditional game of bulls and cows</p>
    <div class="btn btn-primary">Start</div>
</div>



