//this style is shared by all templates within the same directory
@darkLink:#563d7c;
@lightBar:#d4dfee;
@borderColor: #e7e7e7;

.bulls-input-error {
  height:  25px;  //make sure there is space for the error
}

.bulls-chat-panel {
  margin-top:15px;
  margin-bottom: 15px;
}

.bulls-log-message {
  display: block;
}