{{! {"styles" : ["js/views/footer/footer"]} }}

<div class="container">
    <div class="row footer-nav">
        <div class="footer-nav-buttons">
            <ul class="nav nav-pills">
                <li><a href="http://boardgamegeek.com/">BoardGameGeek</a></li>
                <li><a href="#games">LinkedIn</a></li>
                <li><a href="#me">Random site 1</a></li>
                <li><a href="#you">Random site 2 </a></li>
            </ul>
        </div>
    </div>
</div>
