{{! {"styles" : ["js/views/footer/footer"]} }}

<div class="container app-footer">
    <div class="row">
    <ul class="app-nav">
        <li><a href="http://boardgamegeek.com/">BoardGameGeek</a></li>
        <li><a href="#games">LinkedIn</a></li>
        <li><a href="#me">Random site 1</a></li>
        <li><a href="#you">Random site 2    </a></li>
    </ul>
    </div>
</div>
