

<!--<div class="app-footer">
    <ul class="app-nav">
        <li><a href="http://boardgamegeek.com/">BoardGameGeek</a></li>
        <li><a href="#games">Games</a></li>
        <li><a href="#me">About me</a></li>
        <li><a href="#you">About you</a></li>
    </ul>
</div>     -->
