Here are a few more examples:

<div class="lion-rules-examples">
    <div class="titles">
        <div class="lion-rules-example-column lion-rules-example-title">Correct number</div>
        <div class="lion-rules-example-column lion-rules-example-title">Your guess</div>
        <div class="lion-rules-example-column lion-rules-example-title lion-rules-answer">Result of your guess</div>
    </div>

    <div class="arow">
        <div class="lion-rules-example-column">1234</div>
        <div class="lion-rules-example-column">5678</div>
        <div class="lion-rules-example-column lion-rules-answer">0
            <div class="icn-lion-inline"/>
            0
            <div class="icn-leopard-inline"/>
        </div>
    </div>

    <div class="arow">
        <div class="lion-rules-example-column">1234</div>
        <div class="lion-rules-example-column">4443</div>
        <div class="lion-rules-example-column lion-rules-answer">1
            <div class="icn-lion-inline"/>
            1
            <div class="icn-leopard-inline"/>
        </div>

    </div>

    <div class="arow">
        <div class="lion-rules-example-column">1234</div>
        <div class="lion-rules-example-column">1344</div>
        <div class="lion-rules-example-column lion-rules-answer">1
            <div class="icn-lion-inline"/>
            2
            <div class="icn-leopard-inline"/>
        </div>
    </div>
    <div class="arow">
        <div class="lion-rules-example-column">1234</div>
        <div class="lion-rules-example-column">1234</div>
        <div class="lion-rules-example-column lion-rules-answer">4
            <div class="icn-lion-inline"/>
            0
            <div class="icn-leopard-inline"/>
        </div>
    </div>

</div>








