You get <span class="lion-rules-underlined"> 1 </span> leopard for every digit in your number matching a digit in the correct number with
their <span
        class="lion-rules-underlined"> positions not matching.</span>
<br/>
Example: Correct number is 4<span class="lion-rules-underlined">0</span>28. You guess is 657<span class="lion-rules-underlined">0</span>. You get <span
        class="lion-rules-underlined">1</span> <div class="icn-leopard-inline"/>,
because of the matching <span class="lion-rules-underlined">0</span> between the two numbers.



