{{! {"styles" : ["js/views/rules/rules"]} }}
<div class="view-container">

    <div class="lion-rules">

        <div class="lion-title">Rules</div>

        <div class="lion-rules-page-container">
        </div>

        <div class="lion-rules-btn-previous"/>
        <div class="lion-rules-page"><span class="lion_rules_page_number">{{attributes.currentPage}}</span>/{{attributes.lastPage}}</div>
        <div class="lion-rules-btn-next"/>

        <div class="back-button"/>

        <div class="lion-rules-more"> We love kittens and lions, and leopards, but truth be told the game is better known by the name Bulls and Cows. Read more about it on <a
                href="http://en.wikipedia.org/wiki/Bulls_and_cows" target="_blank">Wikipedia</a>
        </div>

    </div>

</div>




