//this style is shared by all templates within the same directory
@darkLink: #563d7c;
@lightBar: #d4dfee;
@borderColor: #e7e7e7;
@primaryFontFamily: primaryFont, "Helvetica Neue", Arial, sans-serif;
@secondaryFontFamily: secondaryFont, "Helvetica Neue", Arial, sans-serif;
@segoeFontFamily: segoe, "Helvetica Neue", Arial, sans-serif;

.lion-rules {
  background-image: url('img/rules_bg.png');
  background-size: 800px 800px;
  background-position: center;
  background-repeat: no-repeat;
  color: #f4f198;
  max-width: 830px; //including 15px paddings
  width: 100%;
  height: 800px;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 10%;
  font-family: @segoeFontFamily;

}

.lion-rules-underlined {
  color: white;
}

.lion-rules-page-container {
  width: 60%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  //overflow: scroll;
  // height: 90%;
}

.lion-rules-line {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 1.2em;
  font-style: italic;

}

.lion-rules-examples {
  display: inline-block;
}

.lion-rules-examples .titles {
  clear: both;
  color: white;
  margin-bottom: 10px;
  height: 20px;
  display: block;
}

.lion-rules-examples .arow {
}

.lion-rules-example-column {
  display: inline-block;
  float: left;
  width: 100px;
  margin-right: 10px;
  //padding-top:10px;
  line-height: 2.428571429;
  vertical-align: middle;
  font-size: 30px;
}

.lion-rules-example-title {
  line-height: 1;
}

.lion-rules-answer {
  //padding-top:0px;
  width: 200px;
}

.lion-rules-more {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 50%;
  text-align: right;
}

.lion-rules-more a {
  color: yellow;
}

.lion-rules-more a:hover {
  text-decoration: none;
}

.lion-rules-btn-previous {
  background-image: url("img/arrow_back.png");
  cursor: pointer;
  position: absolute;
  left: 30%;
  bottom: 25%;
  width: 109px;
  height: 29px;
}

.lion-rules-btn-previous:hover,
.lion-rules-btn-previous:active
.lion-rules-btn-previous:focus {
  background-image: url("img/arrow_back_hover.png");
  width: 110px;
  height: 30px;
}

.lion-rules-btn-next {
  background-image: url("img/arrow_fwd.png");
  cursor: pointer;
  position: absolute;
  right: 30%;
  bottom: 25%;
  width: 109px;
  height: 29px;
}

.lion-rules-btn-next:active,
.lion-rules-btn-next:hover,
.lion-rules-btn-next:focus {
  background-image: url("img/arrow_fwd_hover.png");
  width: 110px;
  height: 30px;
}

.lion-rules-page {
  position: absolute;
  left: 48%;
  bottom: 24%;
  font-size: 2em;
}

.rules-icons {
  //display: inline-block;
}

