You get <span class="lion-rules-underlined"> 1 </span> lion for every digit in your number matching a digit in the correct number <span
        class="lion-rules-underlined">exactly at the same position</span>.

<br/>
<br/>Example: Correct number is 4<span class="lion-rules-underlined">0</span>28. Your guess is 6<span class="lion-rules-underlined">0</span>57. You get <span
        class="lion-rules-underlined">1</span> <div class="icn-lion-inline"/>,
because of the matching <span class="lion-rules-underlined">0</span> at the second position.
<br/>



