<span class="lion-rules-underlined"> Lions and Leopards </span> is a numerical game in which you need to guess a number.

<br/> Every time you make a guess you get some information of how
close is your number to the correct one.
<br/>
<br/>
The proximity of your number is measured in lions and leopards.

<div class="rules-icons">
    <div class="icn-lion-inline"/>
    <div class="icn-leopard-inline"/>
</div>
<br/>





