If there are repeating digits, then the lions or the leopards in the result are equal to the <span class="lion-rules-underlined">minimum</span>
occurrences of that digit in between the correct number and your guess.
<br/>
E.g. Correct number is 4<span class="lion-rules-underlined">00</span>8. You guess <span class="lion-rules-underlined">0</span>462. You get <span
        class="lion-rules-underlined">1</span> <div class="icn-leopard-inline"/>,
because of the matching <span class="lion-rules-underlined">0</span> between the two numbers.



