{{! {"styles" : ["js/views/game/game"]} }}
<div class="view-container">

    <div class="lion-game">


        <div class="lion-game-hidden-number">XXX</div>
        <div class="lion-game-title">Guess the number:</div>
        <input class="lion-game-input-form guess-input" placeholder="#" maxlength="{{attributes.digitsCount}}">
        <div class="guess-input-error"></div>

        <button type="submit" class="btn btn-default guess-button">Guess</button>

        <div id="lion-game-guess-log" class="lion-game-guess-log">
            <div class="guess-column guess-column-1">#</div>

            <div class="guess-column guess-column-2">Number</div>
            <div class="guess-column guess-column-3">
                Result
            </div>

            <!--<div class="guess-column guess-column-1">1</div>

            <div class="guess-column guess-column-2">1234562323</div>

            <div class="guess-column guess-column-3">
                <div class="guess-result-points">1</div>
                <div class="guess-lion-icon"/>
                <div class="guess-result-points">2</div>
                <div class="guess-leopard-icon"/>
            </div>      -->
        </div>


        <div class="back-button"></div>
    </div>

</div>


</div>
