{{! {"styles" : ["js/views/game/game"]} }}
<div class="view-container">

    <div class="lion-game">


        <div class="lion-title">Guess the number</div>

        <div class="lion-game-hidden-number">XXX</div>
        <input class="lion-game-input-form guess-input" autofocus="true" maxlength="{{attributes.digitsCount}}">

        <div class="guess-input-error"></div>

        <div class="lion-game-buttons">
            <div class="lion-game-cancel"/>
            <div class="lion-game-ok"/>
        </div>


        <div class="lion-game-guess-titles">
            <div class="guess-column guess-column-1">#</div>

            <div class="guess-column guess-column-2">Number</div>
            <div class="guess-column guess-column-3">
                Result
            </div>
        </div>

        <div id="lion-game-guess-log" class="lion-game-guess-log">


            <!--EXAMPLES: <div class="guess-column guess-column-1">1</div>

            <div class="guess-column guess-column-2">1234562323</div>

            <div class="guess-column guess-column-3">
                <div class="guess-result-points">1</div>
                <div class="guess-lion-icon"/>
                <div class="guess-result-points">2</div>
                <div class="guess-leopard-icon"/>
            </div>      -->
        </div>


        <div class="back-button"></div>
    </div>

</div>


</div>
