{{! {"styles" : ["js/views/game/game"]} }}
<div class="guess-column guess-column-1 guess-count">{{attemptsCount}}</div>

<div class="guess-column guess-column-2 guess-number">{{guessNumber}}</div>

<div class="guess-column guess-column-3">
    <div class="guess-result-points">{{lions}}</div>
    <div class="guess-lion-icon"/>
    <div class="guess-result-points">{{leopards}}</div>
    <div class="guess-leopard-icon"/>
</div>