@darkLink: #563d7c;

//Define globally font-size in percentages in the body and then all other occurances of the font should be in em.

body {
  font-size: 50%;
}

@media (min-width: 800px) {
  body {
    font-size: 70%;
  }
}

//bigger screens have bigger font-size obviously
@media (min-width: 1500px) {
  body {
    font-size: 100%;
  }
}

.app-container {
  //background-image: url('../img/bg.png');
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: 800px 800px;
  width: 100%;
  max-width: 800px;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: @darkLink;
  text-decoration: none;
}

@font-face {

  font-family: primaryFont;
  src: url('../fonts/CooperBlackStd.otf');
}

@font-face {
  font-family: secondaryFont;
  src: url(../fonts/CharlemagneStd-Bold.otf);
}

@font-face {
  font-family: segeo;
  src: url(../fonts/segeo-marker-webfont.woff);
}

@font-face {
  font-family: sketch;
  src: url('../fonts/sketch-flow-print.ttf');
}

//Checkbox styling for the whole app
input[type=checkbox].lion-input-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].lion-input-checkbox + label.css-label {
  padding-left: 20px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].lion-input-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}

.css-label {
  background-image: url('../img/lite-red-check.png');
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.lion-input-number {
  //background: red;
}

.back-button {
  position: absolute;
  left: 10%;
  bottom: 10%;

  cursor: pointer;
  width: 243px;
  height: 59px;
  background-image: url("../img/btn_back.png");
  background-repeat: no-repeat;
}

.view-container {
  text-align: center;
}







