@darkLink:#563d7c;

a
{
  color: @darkLink;
  text-decoration: none;
}


@font-face
{
  font-family: primaryFont;
  src: url('../fonts/CooperBlackStd.otf');
}

@font-face
{
  font-family: secondaryFont;
  src: url(../fonts/CharlemagneStd-Bold.otf);
}
