.app-navbar {
  background-color: #d4dfee;
  border-color: #e7e7e7;
  color: red;
}
.app-navbar-button-wrapper {
  float: left;
  height: 50px;
  padding-right: 15px;
}
.app-navbar-button-wrapper .app-navbar-button {
  float: left;
  background-image: url("img/cool.png");
  width: 50px;
  height: 50px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.app-navbar-button-wrapper .app-navbar-button:hover,
.app-navbar-button-wrapper .app-navbar-button:focus {
  background-size: 100%;
  cursor: pointer;
}
.app-nav {
  position: relative;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  height: 50px;
  text-align: center;
}
.app-nav:before,
.app-nav:after {
  display: table;
  content: " ";
}
.app-nav:after {
  clear: both;
}
.app-nav:before,
.app-nav:after {
  display: table;
  content: " ";
}
.app-nav:after {
  clear: both;
}
.app-nav > li {
  float: left;
  height: 50px;
  position: relative;
  display: block;
}
.app-nav > li > a {
  position: relative;
  display: block;
  padding: 15px 15px;
  height: 100%;
}
.app-nav > li > a:hover,
.app-nav > li > a:focus {
  text-decoration: none;
  background-color: #563d7c;
  color: white;
}
.app-nav .caret {
  border-top-color: #428bca;
  border-bottom-color: #428bca;
}
.app-nav a:hover .caret {
  border-top-color: #2a6496;
  border-bottom-color: #2a6496;
}
