{{! {"styles" : ["js/views/header/header"]} }}

<nav class="app-navbar" role="navigation">
    <div class="container">
        <div class="row">
            <div class="app-navbar-buttons">
                <!--
                <div class="app-navbar-button-wrapper">
                    <a class="app-navbar-button" href="#"></a>
                </div>
                -->
                <ul class="app-nav">
                    <li><a href="#"><div class="app-nav-home"></div>Home</a></li>
                    <li><a href="#work"><div class="app-nav-work"></div>Work</a></li>
                    <li><a href="#games"><div class="app-nav-games"></div>Games</a></li>
                    <li><a href="#me"><div class="app-nav-me"></div>About me</a></li>
                    <li><a href="#you"><div class="app-nav-you"></div>About you</a></li>

                    <!--<li><a href="#work" class="7k">Work</a></li>
                    <li><a href="#games" class="app-nav-games">Games</a></li>
                    <li><a href="#me" class="app-nav-me">About me</a></li>
                    <li><a href="#you" class="app-nav-you">About you</a></li>  -->
                </ul>
            </div>
        </div>
    </div>
</nav>