{{! {"styles" : ["js/views/header/header"]} }}

<nav class="app-navbar" role="navigation">
    <div class="container">
        <div class="row">
            <div class="app-navbar-buttons">
                <div class="app-navbar-button-wrapper">
                    <a class="app-navbar-button" href="#"></a>
                </div>
                <ul class="app-nav">
                    <li class="active"><a href="#work">Work</a></li>
                    <li><a href="#games">Games</a></li>
                    <li><a href="#me">About me</a></li>
                    <li><a href="#you">About you</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>