{{! {"styles" : ["js/views/end/end"]} }}
<div class="view-container">
    <div class="lion-end">
        <div class="lion-end-content">

            <div class="lion-end-paw"></div>
            <div class="lion-end-title">High five!!!</div>

            <div class="lion-end-message">End Game Message</div>

            <div class="new-game-button"/>
            <div class="back-button"/>
        </div>

    </div>
</div>




