{{! {"styles" : ["js/views/loader/loader"]} }}
<div class="logo">
    <div class="b red" ><div></div></div>
    <div class="b blue" ><div></div></div>
    <div class="b yellow" ><div></div></div>
    <div class="b green" ><div></div></div>
</div>