{{! {"styles" : ["js/views/about/about"]} }}
<div class="view-container">

    <div class="lion-about">
        <ul>
            <li>
                <div class="lion-about-title">About</div>
            </li>
            <li>
                <div class="lion-about-line">Code</div>
                <div class="lion-about-line-even">Andrey Petrov</div>

            </li>
            <li>
                <div class="lion-about-line">Design</div>
                <div class="lion-about-line-even">Oleksandra Sydorenko-Petrova</div>
            </li>
        </ul>

        <div class="back-button"></div>
    </div>

</div>




