@darkLink:#563d7c;
@lightBar:#d4dfee;
@borderColor: #e7e7e7;

@primaryFontFamily:primaryFont, "Helvetica Neue", Arial, sans-serif;
@secondaryFontFamily:secondaryFont, "Helvetica Neue", Arial, sans-serif;
.menu-title1
{
  font-family:@primaryFontFamily;
  font-size:190px;
  color:white;
  text-transform: uppercase;
}
.menu-ampersand
{
  margin-top: -95px;
  float:left;
  font-family:@secondaryFontFamily;
  margin-left:50px;
  font-size:280px;
  color:white;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0px;
}

.menu-title2
{
  position:absolute;
  left:200px;
  top:280px;
  font-family:@secondaryFontFamily;
  font-size:120px;
  color:white;
  text-transform: uppercase;
  letter-spacing: -5px;
}

.menu-buttons
{
  clear:both;
}