@darkLink: #563d7c;
@lightBar: #d4dfee;
@borderColor: #e7e7e7;
@primaryFontFamily: primaryFont, "Helvetica Neue", Arial, sans-serif;
@secondaryFontFamily: secondaryFont, "Helvetica Neue", Arial, sans-serif;

.lion-menu {
  //background-image: url('../../../img/general_bg.png');
  background-image: url('img/home_bg.png');

  background-size: 800px 800px;
  background-position: center;
  background-repeat: no-repeat;
  color: #f4f198;
  max-width: 830px; //including 15px paddings
  width: 100%;
  height: 800px;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 10%;
  font-family: @primaryFontFamily;
}

.menu-lion {

  position: absolute;
  left: 8%;
  bottom: 12%;

  width: 299px;
  height: 215px;
  background-image: url("img/home_lion.png");
  background-repeat: no-repeat;
}

.menu-leopard {
  position: absolute;
  right: 10%;
  bottom: 4%;

  width: 286px;
  height: 252px;
  background-image: url("img/home_leopard.png");
  background-repeat: no-repeat;
}

//Icons downloaded from http://www.easyicon.net/language.en/1125454-help_icon.html

.menu-btn-start {
  position: absolute;
  top: 52%;
  left: 44%;
  cursor: pointer;
  width: 89px;
  height: 97px;
  background-image: url("img/btn_start.png");
  background-repeat: no-repeat;
}

.menu-btn-start:hover,
.menu-btn-start:active,
.menu-btn-start:focus {
  background-image: url("img/btn_start_hover.png");
}




.menu-btn-settings {
  float: left;
  cursor: pointer;
  width: 64px;
  height: 64px;
  background-image: url("img/btn_settings.png");
  background-repeat: no-repeat;
}

.menu-btn-settings:hover,
.menu-btn-settings:active,
.menu-btn-settings:focus {
  background-image: url("img/btn_settings_hover.png");
}

.menu-btn-rules {
  float: left;
  cursor: pointer;
  width: 64px;
  height: 64px;
  background-image: url("img/btn_help.png");
  background-repeat: no-repeat;
}

.menu-btn-rules:hover,
.menu-btn-rules:active,
.menu-btn-rules:focus {
  background-image: url("img/btn_help_hover.png");
}


.menu-btn-about {
  float: left;
  cursor: pointer;
  width: 64px;
  height: 64px;
  background-image: url("img/btn_info.png");
  background-repeat: no-repeat;
}

.menu-btn-about:hover,
.menu-btn-about:active,
.menu-btn-about:focus {
  background-image: url("img/btn_info_hover.png");
}


.menu-buttons {
  position: absolute;
  top: 5%;
  right: 5%;
}