.lion-menu {
  background-image: url('img/home_bg.png');
  background-size: 800px 800px;
  background-position: center;
  background-repeat: no-repeat;
  color: #f4f198;
  max-width: 830px;
  width: 100%;
  height: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 10%;
  font-family: primaryFont, "Helvetica Neue", Arial, sans-serif;
}
.menu-lion {
  position: absolute;
  left: 8%;
  bottom: 12%;
  width: 299px;
  height: 215px;
  background-image: url("img/home_lion.png");
  background-repeat: no-repeat;
}
.menu-leopard {
  position: absolute;
  right: 10%;
  bottom: 4%;
  width: 286px;
  height: 252px;
  background-image: url("img/home_leopard.png");
  background-repeat: no-repeat;
}
.menu-btn-start {
  position: absolute;
  top: 55%;
  left: 48%;
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-image: url("img/btn_start.png");
  background-repeat: no-repeat;
}
.menu-btn-start:hover,
.menu-btn-start:active,
.menu-btn-start:focus {
  background-image: url("img/btn_start_hover.png");
}
.menu-btn-settings {
  float: left;
  cursor: pointer;
  width: 64px;
  height: 64px;
  background-image: url("img/btn_settings.png");
  background-repeat: no-repeat;
}
.menu-btn-settings:hover,
.menu-btn-settings:active,
.menu-btn-settings:focus {
  background-image: url("img/btn_settings_hover.png");
}
.menu-btn-rules {
  float: left;
  cursor: pointer;
  width: 64px;
  height: 64px;
  margin-right: 15px;
  background-image: url("img/btn_help.png");
  background-repeat: no-repeat;
}
.menu-btn-rules:hover,
.menu-btn-rules:active,
.menu-btn-rules:focus {
  background-image: url("img/btn_help_hover.png");
}
.menu-btn-about {
  float: left;
  cursor: pointer;
  width: 64px;
  height: 64px;
  background-image: url("img/btn_info.png");
  background-repeat: no-repeat;
}
.menu-btn-about:hover,
.menu-btn-about:active,
.menu-btn-about:focus {
  background-image: url("img/btn_info_hover.png");
}
.menu-buttons {
  position: absolute;
  top: 5%;
  right: 5%;
}
