{{! {"styles" : ["js/views/menu/menu"]} }}

<div class="menu-title1">lions</div>
<div class="menu-ampersand">&</div>
<div class="menu-title2">leopards</div>

    <ul class="menu-buttons">
        <li>
            <div class="bulls-menu-start menu-button">start</div>
        </li>
        <li>
            <div class="bulls-menu-rules menu-button">rules</div>
        </li>

        <li>
            <div class="bulls-menu-start menu-button">start</div>
        </li>
        <li>
            <div class="bulls-menu-rules menu-button">rules</div>
        </li>
    </ul>
</div>
