{{! {"styles" : ["js/views/menu/menu"]} }}
<div class="menu-container">
    <div class="menu-title1">lions</div>
    <div class="menu-ampersand">&</div>
    <div class="menu-title2">leopards</div>

    <ul class="menu-buttons">
        <li>
            <div class="bulls-menu-start menu-button">start</div>
        </li>
        <li>
            <div class="bulls-menu-settings menu-button">settings</div>
        </li>

        <li>
            <div class="bulls-menu-about menu-button">about</div>
        </li>
    </ul>
</div>
</div>