{{! {"styles" : ["js/views/menu/menu"]} }}
<div class="view-container">
    <div class="lion-menu">

        <div class="menu-buttons">
            <div class="menu-btn-about"/>
            <div class="menu-btn-rules"/>
            <div class="menu-btn-settings"/>
        </div>


        <!-- TODO make the animals roar when clicked on-->
        <div class="menu-lion"/>
        <div class="menu-leopard"/>

        <div class="menu-btn-start"/>


        <!--TODO add the rest of the buttons -->

        <!--  <div class="menu-title1 col-md-12">lions</div>

          <div class="col-md-8 col-md-push-2 col-md-offset-1">
              <div class="row">
                  <div class="menu-ampersand col-md-2">&</div>

                  <div class="menu-title2 col-md-8">leopards</div>
              </div>
          </div>  -->


        <!--
    <ul class="menu-buttons">
        <li>
            <div class="bulls-menu-start menu-button">start</div>
        </li>
        <li>
            <div class="bulls-menu-settings menu-button">settings</div>
        </li>

        <li>
            <div class="bulls-menu-about menu-button">about</div>
        </li>
    </ul>     -->
    </div>
</div>
</div>