{{! {"styles" : ["js/views/settings/settings"]} }}
<div>

    <div class="lion-settings">
        <ul>
            <li>
                <input id="repeating-numbers" class="lion-checkbox" type="checkbox" checked="checked"/>
                <label for="repeating-numbers" name="repeating-numbers-label" class="css-label">Repeating numbers</label>
            </li>
            <li>
                second option
            </li>
        </ul>
    </div>

    <!-- Checkbox powered by CssCheckbox.com -->

</div>



