//this style is shared by all templates within the same directory
@darkLink: #563d7c;
@lightBar: #d4dfee;
@borderColor: #e7e7e7;
@primaryFontFamily: primaryFont, "Helvetica Neue", Arial, sans-serif;
@secondaryFontFamily: secondaryFont, "Helvetica Neue", Arial, sans-serif;
@tetriaryFontFamily:'Comic Sans MS', cursive;
@orangeBorder:#f7931e;

.lion-settings-container {
  // text-align: center;
  // padding-top: 300px;
}

.lion-settings {
  background-image: url('../../../img/general_bg.png');
  background-size: 800px 800px;
  background-position: center;
  background-repeat: no-repeat;

  max-width: 830px; //including 15px paddings
  width: 100%;
  height: 800px;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20%;
  font-family: @primaryFontFamily;
}

.lion-settings ul {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 50%;

  //background: red;

}

.lion-settings ul li {
  height: 17%;
  position: relative;
  margin-bottom: 100px;
  list-style: none;
  display: block;
  clear: both;
  vertical-align: middle;
  //background:#269abc;

}

.lion-settings-label {
  font-size: 2.4em;
  float: left;
  bottom: 5px;
  left: 5px;
  display: block;
  position: absolute;
  color: #f4f198;
}

.toggle-button {
  margin-top: 2%;
  display: block;
  position: relative;
  cursor: pointer;
  background-image: url("img/toggle_bg.png");
  width: 241px;
  height: 56px;
  float: right;
}

.toggle-button-yes {
  top: 3px;
  left: 5px;
  //display: block;
  position: absolute;
  background-image: url("img/toggle_yes.png");
  width: 109px;
  height: 48px;

}

.toggle-button-no {
  top: 3px;
  right: 5px;
  float: right;
  //display: block;
  position: absolute;
  background-image: url("img/toggle_no.png");
  width: 109px;
  height: 48px;
}

.number-picker {
  background-image: url("img/number_picker_bg.png");
  width: 136px;
  height: 62px;

  float: right;
  margin-top: 2%;
  display: block;
  position: relative;

}
.number-picker-number
{
  position: absolute;
  font-family: @tetriaryFontFamily;
  top:10px;
  left:35px;
  color: black;
  font-size: 40px;
}

.number-picker-increment {
  background-image: url("img/number_picker_arrows.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  right: 30px;
  height: 15px;
  width: 23px;
  cursor: pointer;
}

.number-picker-decrement {
  background-image: url("img/number_picker_arrows.png");
  //background-repeat: no-repeat;
  background-position: 0px 15px;
  position: absolute;
  bottom: 10px;
  right: 30px;
  height: 15px;
  width: 23px;
  cursor: pointer;
}